[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "uvicorn application.__init__:server --reload"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
